html
  head
    title= Linkler
  body
    h1 Welcome to Linkler
    h2 Keep inportant links where you can find them!
    ul
      for link in links
        if link != null
          li
            a(href="http://"+link.url, target='_blank')= link.name